//satellites
$c-blue-alza: #00275b
$c-blue-media: #0094e7
$c-orange-toys: #fd7528
$c-gold-trendy: #c7b276
$c-red-maxi: #e9242e
$c-green-sport: #a1c900
$c-brown-hobby: #764510
$c-grey-automoto: #262f38
$c-ochre-pet: #cb8f10


//black@white    
$c-white: #ffffff
$c-grey-0: #f8f8f8
$c-grey-1: #f4f5f5
$c-grey-2: #fafafc
$c-grey-3: #e0e0e0
$c-grey-4: #c6c6c6
$c-grey-5: #a4a4a4
$c-grey-6: #212121
$c-black: #000000

//blues
$c-blue-light: #ecf5fe
$c-blue-primary-light: #1653a4

//alza-beauty
$c-beauty: #fbebd4fB